<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Service.AltaDisponibilidadeService" >
        <endpoint address="" binding="netMsmqBinding" contract="AltaDisponibilidadeContract.IDoSomething" bindingConfiguration="altadisponibilidadebinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/altadisponibilidade" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="altadisponibilidadebinding"
                                  deadLetterQueue="Custom"
                                  customDeadLetterQueue="net.msmq://localhost/private/altadisponibilidadeDead"
                                  receiveRetryCount="2"
                                  retryCycleDelay="00:05:00"
                                  maxRetryCycles="3"
                                  receiveErrorHandling="Fault"
                                  >
          <security mode="None"/>

        </binding>

      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true"   httpGetUrl="http://localhost:8080/DoSomething/" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
